<ul class="blog-roll">
  {% for item in collection %}
    <li class="blog-roll-item">
      {% assign bg_img = item.image | default: "/assets/img/generic-background.jpg" | relative_url %}
      <a class="blog-roll-link" href="{{ item.url | relative_url }}">
        <div class="blog-roll-image" style="background-image: url( {{bg_img}} );">
          {% if item.image_credit %}
            <p class="blog-roll-image-credit">{{ item.image_credit }}</p>
          {% endif %}
        </div>
        {{ item.title }}
      </a>
      <div class="blog-roll-meta">
        {% if item.tags != empty %}
          <small>
            {% if item.tags.size == 1 %}
              <strong>Topic:</strong>
            {% else %}
              <strong>Topics:</strong>
            {% endif %}
          </small>
          <ul class="blog-roll-tags" role="list">
            {% for tag in item.tags %}
              <li class="tag" role="listitem">{{tag}}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>