<nav class="nav" role="navigation">
  <button class="btn nav-toggle" id="nav-toggle">Menu</button>
  <p class="nav-header">{{ site.data.main_nav.nav_title | default: "Site Contents" }}</p>
  <ul class="nav-list" role="list">
    {% for item in site.data.main_nav.nav_list %}
      <li class="nav-item" role="listitem">
        <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
        {% if item.subitems[0] %}
          <ul class="nav-subitems">
            {% for subitem in item.subitems %}
              <li class="nav-subitem">
                <a href="{{ subitem.url | relative_url }}">{{ subitem.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
