<div class="nav-container">
  <p class="nav-header">Contents</p>
  <nav role="navigation">
    <ul class="nav" role="list">
      <li class="nav-item" role="listitem">
        <a href="#installation">Installation</a>
      </li>
      <li class="nav-item" role="listitem">
        <a href="#configuration">Configuration</a>
      </li>
      <li class="nav-item" role="listitem">
        <a href="#layouts">Layouts</a>
      </li>
      <li class="nav-item" role="listitem">
        <a href="#customization">Customization</a>
      </li>
      <li class="nav-item" role="listitem">
        <a href="#navigation">Navigation</a>
      </li>
      <li class="nav-item" role="listitem">
        <a href="#syntax-highlighting">Syntax Highlighting</a>
      </li>
      <li class="nav-item" role="listitem">
        <a href="#development">Development</a>
      </li>
    </ul>
  </nav>
</div>