<div class="search-box-container">
  <form action="{{ 'search' | relative_url }}" method="get" role="search">
    <label for="search-box">
      <span class="visually-hidden">Search for site content</span>
    </label>
    <input
      class="search-input"
      data-feed="{{ 'feed.json' | relative_url }}"
      id="search-box"
      name="query"
      placeholder="{{ include.placeholder | default: 'Search' }}"
      type="text"
    >
    <button class="btn search-button" type="submit">
      Search
    </button>
  </form>
</div>