<div class="sidebar-content">
  <div>
    <figure class="logo">
      {% if site.logo %}
        <img alt="" src="{{ site.logo }}" />
      {% else %}
        <img alt="" src="{{ '/assets/img/dos_seal.svg' | relative_url }}" />
      {% endif %}
    </figure>

    {% if site.description %}
      <p class="description">{{ site.description }}</p>
    {% endif %}
    
    {% if site.show_nav %}
      {% include navigation.html %}
    {% endif %}
  </div>

  {% if site.show_downloads %}
    {% include downloads.html %}
  {% endif %}
</div>
