<div class="sidebar-content">
  <div>
    {% if site.logo %}
      <figure class="logo">
        <img alt="" src="{{ site.logo }}" />
      </figure>
    {% endif %}

    {% if site.description %}
      <p class="description">{{ site.description }}</p>
    {% endif %}
    
    {% if site.show_downloads %}
      <ul class="downloads">
        <li>
          <a class="download-link" href="{{ site.github.zip_url }}">
            <img alt="" src="{{ site.repo_name | default: '' }}/assets/img/icons/file-archive-solid.svg" class="fa-icon" />
            ZIP File
          </a>
        </li>
        <li>
          <a class="download-link" href="{{ site.github.tar_url }}">
            <img alt="" src="{{ site.repo_name | default: '' }}/assets/img/icons/box-open-solid.svg" class="fa-icon" />
            TAR Ball
          </a>
        </li>
        <li>
          <a class="download-link" href="{{ site.github.repository_url }}">
            <img alt="" src="{{ site.repo_name | default: '' }}/assets/img/icons/github-brands.svg" class="fa-icon" />
            GitHub
          </a>
        </li>
      </ul>
    </div>
  {% endif %}
  
  {% if site.show_nav %}
    {% include navigation.html %}
  {% endif %}
  
  {% if site.author %}
    <p class="tag-line">
      This project is maintained by
      <a href="{{ site.author_homepage | default: '' }}">{{ site.author }}</a>
    </p>
  {% endif %}
</div>
