@import './variables/colors.scss';

pre {
  border-radius: 5px;
  box-shadow: $boxShadowHeavy;
}

.hljs {
  background: #282c34;
  border-radius: 5px;
  color: #abb2bf;
  display: block;
  overflow-x: auto;
  padding: 1rem;
}

/* purposely do not highlight these things */
.hljs-params,
.hljs-property {
  color: #abb2bf;
}

.hljs-tag {
  color: #565c64;
}

.hljs-operator,
.hljs-punctuation {
  color: #abb2bf;
}

.hljs-operator {
  opacity: 0.7;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-keyword.hljs-atrule,
.hljs-regexp {
  color: #56b6c2;
}

.diff .hljs-meta,
.hljs-doctag,
.hljs-formula,
.hljs-keyword,
.hljs-template-tag {
  color: #c678dd;
}

.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #fa6672;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-addition,
.hljs-attribute,
.hljs-code,
.hljs-meta-string,
.hljs-regexp,
.hljs-string,
.hljs-title.class_.inherited__ {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #e6c07b;
}

.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable,
.hljs-variable.constant_ {
  color: #d19a66;
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-section,
.hljs-selector-id,
.hljs-symbol,
.hljs-title,
.hljs-title.function_,
.ruby .hljs-property {
  color: #61aeee;
}

.hljs-emphasis {
  color: #c678dd;
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

.language-markdown,
.language-md,
.language-mkdown,
.language-mkd,
.language-nohighlight,
.language-plaintext,
.language-text,
.language-txt {
  display: block;
  padding: 1rem;
  white-space: pre-wrap;
}
