@import './variables/colors.scss';
@import './variables/typography.scss';

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  min-height: 100%;
}

body {
  color: $black;
  font-family: $fontBase;
  font-size: $fontSizeBase;
  min-height: 100vh;
}

a {
  color: $blueDark;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: $blueBright;
  }
}

blockquote {
  background: $greyLightest;
  border-left: 0.5rem solid $blueBright;
  box-shadow: $boxShadow;
  margin: 1.5rem;
  padding: 0.5rem 1rem;

  > p {
    margin: 1rem;
  }
}

button {
  border-radius: 5px;
  box-shadow: $boxShadow;
  font-size: $fontSizeSmall;
  padding: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}

code,
pre {
  font-family: $fontMonospace;
}

code {
  background-color: $greyLightest;
  padding: 0.1rem 0.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontHeader;
  font-weight: normal;
  margin-top: 1.5rem;
}

h1 {
  font-size: $fontSizeLarge;
}

h2 {
  font-size: $fontSizeMediumLarge;
}

h3 {
  font-size: $fontSizeMedium;
}

h4 {
  font-size: $fontSizeMediumSmall;
}

h5 {
  font-size: $fontSizeNormal;
}

h6 {
  font-size: $fontSizeNormal;
}

header {
  background-color: $blueBright;
  color: $white;
}

hr {
  border: $borderLight;
  box-shadow: $boxShadow;
  margin: 1rem;
}

img {
  max-width: 100%;
}

ol,
p,
ul {
  line-height: 1.6;
}

ol,
p,
pre,
ul {
  margin: 1.5rem 0 2rem 0;
}

li,
li > ol,
li > ul {
  margin: 0.3rem 0;
}

pre {
  overflow: auto;
}

strong {
  font-weight: 600;
}

table {
  border: $borderLight;
  border-collapse: collapse;
  box-shadow: $boxShadow;
  margin: 1rem auto;
}

tr:not(:last-of-type) > td,
th {
  border-bottom: $borderLight;
}

tr > td:not(:first-of-type),
tr > th:not(:first-of-type) {
  border-left: $borderLight;
}

td,
th {
  padding: 0.5rem 1rem;
}

th {
  background-color: $greyLightest;
  text-align: left;
}

.btn {
  background-color: $blueBright;
  border: none;
  border-radius: 5px;
  box-shadow: $boxShadow;
  color: $white;
  padding: 0.5rem 1rem;
}
