$black: #333333;
$blackStandard: #000000;
$blueBlackPearl: #062135;
$blueBright: #002d74;
$blueDark: #0a314d;
$blueDarkest: #001027;
$gold: #c1a783;
$greyLightest: #f1f1f1;
$greyLight: #dadada;
$greyMediumLight: #aeb0b5;
$greyMedium: #666666;
$greySilver: #c7c4c3;
$greySlate: #323a45;
$red: #d01319;
$white: #ffffff;

$border: 1px solid $greyMediumLight;
$borderLight: 1px solid $greyLight;

$boxShadow: 2px 2px 2px
  rgba(
    $color: $blackStandard,
    $alpha: 0.1
  );

$boxShadowHeavy: 1px 6px 12px
  rgba(
    $color: $black,
    $alpha: 0.5
  );
