// Import default fonts.
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

@font-face {
  font-family: 'Cascadia Code Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Cascadia Code Regular'), url('../fonts/Cascadia.woff') format('woff');
}

// Font-family variables.
$fontBase: 'Open Sans', Arial, sans-serif;
$fontHeader: 'EB Garamond', Times, serif;
$fontMonospace: 'Cascadia Code Regular', monospace;

// Font-size variables.
$fontSizeBase: 16px;

$fontSizeSmall: 0.85rem;
$fontSizeNormal: 1rem;
$fontSizeMediumSmall: 1.3rem;
$fontSizeMedium: 1.5rem;
$fontSizeMediumLarge: 1.8rem;
$fontSizeLarge: 2.1rem;
$fontSizeHuge: 2.5rem;

// Letter-spacing variables.
$spacingWide: 0.04em;
