@import '../variables/colors.scss';

.blog-roll {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-items: center;
  list-style: none;
  padding: 0;

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  &-item {
    border: 1px solid #dadada;
    border-radius: 5px;
    box-shadow: $boxShadow;
    display: flex;
    flex-direction: column;
    max-width: 525px;
    padding: 0.5rem;
    text-align: center;
  }

  &-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: $greyMediumLight;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    padding: 0.5rem;
    margin: -0.5rem;
    margin-bottom: 1rem;
  }

  &-image-credit {
    visibility: hidden;
  }

  &-meta {
    margin: 1rem 0;
  }

  &-tags {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5rem 0 0;
    display: flex;
    list-style: none;
    padding: 0;

    > li {
      margin: 0.25rem 0;
      padding: 0 0.5rem;
    }

    > li:not(:last-child) {
      border-right: $border;
    }
  }
}
