.footer {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  grid-area: footer;
}

.maintainer-credit {
  font-size: $fontSizeSmall;
  margin: 2rem 0 1rem;
  text-align: center;

  > p {
    margin: 0;
  }
}
