.footer {
  display: flex;
  flex-direction: column;
  grid-area: footer;
  margin-top: 1rem;

  &-site-info {
    @media screen and (min-width: $tablet) {
      display: none;
    }
  }
}

.maintainer-credit {
  font-size: $fontSizeSmall;
  margin: 1rem 0;
  text-align: center;

  > p {
    margin: 0;
  }
}
