@import '../variables/colors.scss';
@import '../variables/typography.scss';

.nav {
  list-style: none;
  padding: 0 1rem;
  line-height: 1.5rem;
  margin: 0 0 0.5rem;
  text-align: center;

  &-container {
    border: $borderLight;
    border-radius: 5px;
    box-shadow: $boxShadow;
    margin: 1rem 0.5rem 0;
  }

  &-header {
    background-color: $blueBright;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $white;
    font-family: $fontHeader;
    font-size: $fontSizeMedium;
    font-weight: 600;
    border-bottom: $borderLight;
    padding: 1rem 0;
    margin: 0;
    text-align: center;
  }

  &-item {
    padding: 0.5rem;

    > a {
      color: $black;
      font-weight: normal;
    }

    &:hover {
      background-color: $greyLightest;
      margin: 0 -1rem;
      padding: 0.5rem 1rem;

      &:last-of-type {
        margin-bottom: -0.5rem;
        padding-bottom: 1rem;
      }

      > a {
        color: $blueDark;
        font-weight: 700;
      }
    }
  }

  > li:not(:last-of-type) {
    border-bottom: $borderLight;
  }
}
