@import '../variables/breakpoints.scss';
@import '../variables/colors.scss';
@import '../variables/typography.scss';

.no-results {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5rem 1rem;

  > span {
    font-family: $fontHeader;
    font-size: $fontSizeMedium;
  }
}

.search {
  &-box-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0.5rem;
  }

  &-button {
    border: $borderBlue;
    border-bottom: 0;
    border-radius: 0 5px 5px 0;
    font-size: $fontSizeNormal;
    margin-left: -84px;
  }

  &-input {
    border: $borderLight;
    border-radius: 5px 0 0 5px;
    box-shadow: $boxShadow;
    font-size: $fontSizeNormal;
    min-width: 80vw;
    padding: 0.5rem 1rem;

    @media screen and (min-width: $tablet) {
      min-width: 45vw;
    }
  }

  &-result {
    margin: 1rem 0;

    > a {
      font-family: $fontHeader;
      font-size: $fontSizeMediumSmall;
    }

    > p {
      margin: 1rem 0;
    }
  }

  &-results {
    list-style: none;
    padding: 0;

    &-container {
      margin: 1rem;
    }

    > li:not(:last-of-type) {
      border-bottom: 1px solid $greyLight;
    }
  }
}
