@import '../variables/breakpoints.scss';
@import '../variables/colors.scss';
@import '../variables/typography.scss';

.sidebar {
  grid-area: sidebar;

  @media screen and (min-width: $tablet) {
    border-right: $borderLight;
    box-shadow: $boxShadow;
  }

  &-content {
    height: 90%;
  }

  &-downloads {
    border-bottom: $borderLight;
    display: none;
    padding: 0 0 1rem;

    @media screen and (min-width: $tablet) {
      display: block;
    }
  }

  &-site-info {
    display: none;
    margin: 1.5rem 0;

    @media screen and (min-width: $tablet) {
      display: block;
    }
  }

  &-sticky {
    position: sticky;
    top: 0;

    @media screen and (min-width: $tablet) {
      margin-top: 1rem;
    }
  }
}
