@import '../variables/typography.scss';

.site-description {
  font-size: $fontSizeSmall;
  margin: 1rem 0 0;
  text-align: center;
}

.site-logo {
  margin: 0 auto;
  width: 20%;

  @media screen and (min-width: $tablet) {
    width: 50%;
  }
}
