---
layout: null
excluded_pages: [ '/feed.json', '/search.html', '/404.html', '/assets/css/style.css' ]
---

{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ site.title }}",
  "home_page_url": "{{ site.url | relative_url }}",
  "feed_url": "{{ site.url | relative_url }}/feed.json",
  "description": "{{ site.description }}",
  "user_comment": "A JSON formatted feed of site content. Used by the Lab Notes theme's built-in search functionality",
  {% if site.logo %}
  "icon": "{{ site.url | relative_url }}{{ site.logo }}",
  {% else %}
  "icon": "{{ site.url | relative_url }}/assets/img/dos_seal.svg",
  {% endif %}
  "favicon": "{{ site.url | relative_url }}/assets/img/favicon.ico",
  "authors": [
    {
      "name": "{{ site.author }}",
      "url": "{{ site.author_homepage }}"
    }
  ],
  {% if site.language %}
  "language": "{{ site.language }}",
  {% else %}
  "language": "en-US",
  {% endif %}
  "expired": false,
  "items": [
    {% for feed in page.feeds %}
      {% for item in site.[feed] %}
        {% if layout.excluded_pages contains item.url or page.excluded_pages contains item.url %}
          {
            "id": "{{ item.url | absolute_url | sha1 }}",
            "_omit": true
          }
          {% if forloop.last == false %},
          {% endif %}
        {% else %}
          {
            "id": "{{ item.url | absolute_url }}",
            "url": "{{ site.url | relative_url }}{{ item.url }}",
            "title": {{ item.title | jsonify }},
            "content_text": {{ item.content | strip_html | jsonify }},
            "summary": {{ item.excerpt | strip_html | jsonify }},
            "date_published": "{{ item.date | date_to_xmlschema }}",
            {% if item.modified %}
              "date_modified": "{{ item.modified | date_to_xmlschema }}",
            {% else %}
              "date_modified": "{{ item.date | date_to_xmlschema }}",
            {% endif %}
            "authors": [
              {
                "name": "{{ item.author }}"
              }
            ],
            "tags": {{ item.tags | jsonify }}
          }
          {% if forloop.last == false %},
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if forloop.last == false %},
      {% endif %}
    {% endfor %}
  ]
}