---
layout: base
---

<main class="post-container" role="main">
  <h2>{{ page.title }}</h2>

  <div class="post-metadata">
    {% if page.author %}
      <p class="meta">By: {{ page.author }}</p>
    {% endif %}
    {% if page.date %}
      <p class="meta">Published: {{ page.date }}</p>
    {% endif %}
  </div>

  {{ content }}

  {% if page.tags %}
    <div class="tags-container">
      <span class="tags-heading">Tags:</span> 
      <ul class="tags-list" role="list">
        {% for tag in page.tags %}
          <li class="tag" role="listitem">{{tag}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</main>
{% include footer.html %}
