---
layout: base
---

<main class="post-container" id="main-content">
  <article class="post">
    {% if page.title %}
      <h1>{{ page.title }}</h1>
    {% endif %}

    {% if page.author or page.published %}
      <div class="post-metadata">
        {% if page.author %}
          <p class="meta">By:
            {{ page.author }}
          </p>
        {% endif %}

        {% if page.published %}
          <p class="meta">Published:
            {{ page.published }}</p>
        {% endif %}
      </div>
    {% endif %}

    <div class="post-content">{{ content }}</div>

    {% if page.tags != empty %}
      {% include tags.html %}
    {% endif %}
  </article>
</main>

{% include footer.html page_type="post" %}