---
layout: base
---

<main class="post-container" role="main">
  {% if page.title %}
    <h2>{{ page.title }}</h2>
  {% endif %}
  {% if page.subtitle %}
    <h3 class="post-subtitle">{{ page.subtitle }}</h3>
  {% endif %}

  {% if page.author %}
    <div class="post-metadata">
      {% if page.author %}
        <p class="meta">By: {{ page.author }}</p>
      {% endif %}
    </div>
  {% endif %}

  {{ content }}

  {% if page.tags and page.tags != "" %}
    <div class="tags-container">
      <span class="tags-heading">Tags:</span> 
      <ul class="tags-list" role="list">
        {% for tag in page.tags %}
          <li class="tag" role="listitem">{{tag}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</main>
{% include footer.html %}
