@import './colors.scss';

.container {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 1rem auto;
  max-width: 1300px;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.content {
  margin: 0 1rem;
}

.header {
  background-color: $blueBright;
  border-bottom: solid 7px $gold;
}

.title {
  color: $white;
  margin: 0 auto;
  max-width: 1300px;
  padding: 2rem 1rem;
}
