@import '../variables/colors.scss';

.container {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 1rem auto;
  max-width: 1300px;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.content {
  margin: 0 1rem;
}

.header {
  background-color: $blueBright;
  border-bottom: solid 7px $gold;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background-color: $white;
  padding: 1rem;

  &:focus {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: auto;
    height: auto;
  }
}

.title {
  color: $white;
  display: block;
  font-family: $fontHeader;
  font-size: $fontSizeHuge;
  font-weight: normal;
  margin: 0 auto;
  max-width: 1300px;
  padding: 2rem 1rem;
}
