@import '../variables/colors.scss';
@import '../variables/typography.scss';

.meta {
  font-family: $fontHeader;
  font-size: $fontSizeNormal;
  font-variant: small-caps;
  font-weight: 700;
  letter-spacing: $spacingWide;
  margin: 0;
}

.post {
  margin: 0 1rem;

  &-container {
    margin: 1.5rem auto;
    max-width: 1300px;
  }

  &-metadata {
    border-bottom: 2px solid $gold;
    margin: 1rem 0;
    padding: 0 2rem 0.5rem 0;
    width: fit-content;
  }
}
